{% extends 'base.html' %}

{%- block extra_head %}
    <base href="../" />
{%- endblock extra_head %}

{% block body_content %}
<header>
  <nav>
    <a class="noline" href="index.html">&larr; Return to Posts</a>
  </nav>
  <h1 class="header">{{ post.title }}</h1>
  <h2 class="subheader">{{ post.summary }}</h2>
  <h3 class="published">
    Published: {{ post.date|fmt_date('MM/DD/YYYY') }}{% if post.modified > post.date %}, Updated: {{ post.date|fmt_date('MM/DD/YYYY') }}{% endif %}
  </h3>
</header>

<main class="content">
  {{ post.content|safe }}
</main>
{% endblock body_content %}
