{% extends 'base.html' %}

{% block title %}Latest stories{% endblock title %}

{% block body_content %}
<header>
  <h1>Latest Posts</h1>
</header>

<main class="index">
  {% for post in posts %}
  <article>
    <h1><a href="posts/{{ post.slug }}.html">{{ post.title }}</a></h1>
    <h2>Section: <a href="{{ post.section }}.html">{{ post.section|find_section_name }}</a></h2>
    <h3 class="published">Published: {{ post.date|fmt_date('MM/DD/YYYY') }}</h3>
  </article>
  {% endfor %}
</main>
{% endblock body_content %}